#image{
  margin-top: 10px;
  margin-left: 10px;
  height: 74;
  width: 74;
}

#adv{
  color: #d93025;
  margin-top: 30px;
  margin-left: 50px;
  font-family: roboto, arial, sans-serif;
  font-size: 17px;
}

#fpw{
  color: black;
  margin-top: 30px;
  margin-left:50px;
}

.atw,.tewop, .aotw, .notw{
  margin-top: 30px;
  margin-left:50px;
}

#as{
  margin-top: 15px;
  margin-left:450px;
}
